<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moje směny</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>Vyber jinou směnu:</ion-text>
    <ion-item>
      <ion-select *ngIf="!isLoading && user" [value]="shiftId" (ionChange)="onChangeShift($event)">
        <ion-select-option *ngFor="let localShift of user.smeny" [value]="localShift.idSmena" class="select-full-width">{{ localShift.name }}: {{ localShift.date }} {{ localShift.from.substr(0,5) }} {{ localShift.origin }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="info-bar">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!isLoading && shift">
          Rozpis směny {{ shift?.name }} (typ: {{ shift?.type }})
        </ion-col>
        <ion-col *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-list *ngIf="isLoading">
      <ion-item>
        <ion-spinner></ion-spinner>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!isLoading && shift">
      <ion-item *ngFor="let spoj of shift?.spoje" [detail]="(spoj.type=='bus')||(spoj.type=='train')" [routerLink]="((spoj.type=='bus')||(spoj.type=='train')) ? ['/timetable', spoj.idSmena, spoj.id] : null">
        <ion-text [color]="(spoj.type=='bus')||(spoj.type=='train') ? 'primary' : 'dark'">
          <ion-icon name="car" *ngIf="spoj.type=='auto'"></ion-icon>
          <ion-icon name="bus" *ngIf="spoj.type=='bus'"></ion-icon>
          <ion-icon name="train" *ngIf="spoj.type=='train'"></ion-icon>
          {{ spoj.from.substr(0, 5) }} {{ spoj.origin }} <ion-icon name="arrow-forward"></ion-icon> {{ spoj.destination }}
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
