<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Průzkumy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>Vytvořit nový projekt</ion-text>
    <ion-button color="success" expand="block"><ion-icon name="add"></ion-icon>Vytvořit nový projekt</ion-button>
    <ion-item-group>
      <br><br><br><br>
      <ion-item>
        <ion-text>Připojit se k projektu pomocí kódu:</ion-text>
        <ion-label position="floating">Kód projektu</ion-label>
        <ion-input type="text" autocomplete="" autocorrect=""></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-button color="primary" expand="block"><ion-icon name="login"></ion-icon>Připojit se kódem</ion-button>
    <ion-text>nebo</ion-text>
    <ion-button color="primary" expand="block"><ion-icon name="qr-code"></ion-icon>Scanovat QR kód</ion-button>
  </div>
</ion-content>
