<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sčítačka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startScanner()" [color]="!scannerActive ? 'primary' : 'danger'">
      <ion-icon name="camera" *ngIf="!scannerActive"></ion-icon>
      <ion-icon name="close" *ngIf="scannerActive"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <zxing-scanner *ngIf="scannerActive" [enable]="scannerActive" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
  <div class="ion-padding new-survey">
      <ion-item>
        <ion-text>Připojit se k průzkumu:</ion-text>
        <ion-label position="floating">Kód průzkumu</ion-label>
        <ion-input type="text" autocomplete="" autocorrect="" [value]="joinCode"></ion-input>
      </ion-item>
    <ion-button color="primary" expand="block"><ion-icon name="login"></ion-icon>Připojit se kódem</ion-button>
  </div>
  <div class="info-bar">
    <ion-grid>
      <ion-row>
        <ion-col>
          Moje směny:
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="my-surveys">
    <ion-list *ngIf="isLoading">
      <ion-item>
        <ion-spinner></ion-spinner>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="(!userStatus && !isLoading)||(user?.smeny.length===0 && !isLoading)">
      <ion-item>
        Nenašli jsme k vám přiřazené žádné směny.
      </ion-item>
    </ion-list>
    <ion-list *ngIf="userStatus && !isLoading">
      <ion-item *ngFor="let smena of user.smeny" detail="" [routerLink]="['/survey', smena.idSmena]">
        <small>{{ smena.date }} {{ smena.from.substr(0,5) }}</small><span class="ion-padding-start"><strong>{{ smena.name }}</strong>, <small>výchozí:</small> {{ smena.origin }}</span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
