.new-survey {
  height: 49%;
  max-height: 49%;
}
.info-bar {
  height: 8%;
  max-height: 8%;
  background-color: #0091FF;
  color: white;
}
.my-surveys {
  height: 42%;
  max-height: 42%;
  overflow-y: scroll;
}

